/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

body {
  text-align: center;
  font-family: sans-serif; }

.score {
  font-weight: bold;
  font-size: 14pt; }

.js-img {
  max-width: 350px; }

.pic {
  vertical-align: middle;
  display: inline-block; }

#again {
  color: white;
  background-color: #4479b7;
  padding: 2px;
  border: 2px solid #4479b7;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }
