// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  text-align: center;
  font-family: sans-serif;
}

.score{
  font-weight: bold;
  font-size: 14pt;
}

.js-img{
  max-width: 350px;
}

.pic{
  vertical-align: middle;
  display: inline-block;
  position: right;
}

#again{
  color: white;
  background-color: rgb(68,121,183);
  padding: 2px;
  border: 2px solid rgb(68,121,183);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.pic_container{
  position: relative;
  overflow: hidden;
  float: left; 
  margin: 5px;
}

.underlay{
  background: black;
  color: white;
  position: relative;
  z-index: -1;
}

.social{
  position: absolute;
  top: 10px;
  right: 10px;
}

#twit, #fbook{
  display: inline-block;
  margin:0;
  padding: 0;
  vertical-align: top;
}

#hugh {
  position: absolute;
  left: 10px;
  bottom: 10px;
}