// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  text-align: center;
  font-family: sans-serif;
}

.score{
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
}

.js-img{
  max-width: 350px;
}

.pic{
  padding-left: 110px;
  padding-right: 110px;
}

#again{
  color: white;
  background-color: rgb(68,121,183);
  padding: 2px;
  border: 2px solid rgb(68,121,183);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.pic_container{
  position: relative;
  overflow: hidden;
  float: left; 
  margin: 5px;
}

.underlay{
  background: black;
  color: white;
  position: relative;
  z-index: -1;
}

.social{
  position: absolute;
  top: 10px;
  right: 10px;
}

#twit, #fbook{
  display: inline-block;
  margin:0;
  padding: 0;
  vertical-align: top;
}

.stay {
  position: relative;
}

#hugh {
  position: relative;
  display: block;
  height:400px;
  width:210px;
  display: block;
}

#image
{    
    position:absolute;
    left:10px;
    top:30px;
}

.cat {
  top: 250px;
  position: absolute;
  left: 0;
}

.bubble {
  margin: 50px;
  padding: 10px;
  position: relative;
  width: 100px;
}

.bubble:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  border-top: 20px solid blue;
  border-top-color: inherit; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent; 
}

#text
{
    z-index:100;
    position:absolute;    
    color:black;
    width:180px;
    font-size:14px;
    left:15px;
    top:35px;
}
.created_by{
  position: absolute;
  bottom:10px;
  right:10px;
  font-size: 12px;
}