<!DOCTYPE html>
<html>
<head>
  <title>Human or Cat</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" media="all" href="stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="stylesheets/text.css" />
  <link rel="stylesheet" type="text/css" media="all" href="stylesheets/960.css" />
  <meta property="og:description" content="I just played Human or Cat!" />
</head>
<body>

<%= yield %>

</body>
</html>